/* You can add global styles to this file, and also import other style files */
body, html{
	height: 100%;
}

.jumbotron{
	margin-top: 20px;
	padding:20px;
	border-radius: 5px;
	background-color:#eee;
	box-shadow: 2px 2px 1px #eee
}

.navbar-nav .active{
	margin-top: 4px;
	border-bottom: 2px solid orange !important;

}

.navbar-defaut .navbar-nav>li>a{
	transition:  all 300ms;
	border-bottom: 2px solid transparent;
}

.navbar-defaut .navbar-nav>li>a:hover{
	transition:  all 300ms;
	border-bottom: 2px solid orange;
}

.navbar{
	padding: 0 1rem !important;
}

.pointer{
	cursor: pointer;
}

.menu-avatar{
	height: 3rem;
}