<div class="container-fluid mt-3">
	<nav class="navbar navbar-expand-sm navbar-light border rounded" style="background-color: #eee;">
				
		<a [routerLink]="['/home']" class="navbar-brand" >{{ title }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
	    	<span class="navbar-toggler-icon"></span>
		</button>
				

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/home']">
						<fa-icon icon="home" size="sm"></fa-icon>
						Inicio
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/animales']">
					<fa-icon icon="paw" size="sm"></fa-icon>
						Animales
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/cuidadores']">
						<fa-icon icon="users" size="sm"></fa-icon>
						Cuidadores
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/tienda']">
						<fa-icon icon="shopping-cart" size="sm"></fa-icon>
						Tienda
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/contacto']">
						<fa-icon icon="envelope" size="sm"></fa-icon>
						Contacto
					</a>
				</li>
				<li class="hidden"><span *ngIf="emailContacto">
					<strong>Email de contacto: </strong> {{emailContacto}}
						<button (click)="borrarEmail()">Eliminar email de contacto</button>
					</span>
				</li>
			</ul>
		</div>
		
	</nav>
	<div class="col-lg-11">
	<router-outlet></router-outlet>
	</div>
</div>








