<h4>Utilizar jquery dentro de Angular</h4>
<button id="botonjq" class="btn btn-primary btn-lg m-1" role="button">Mostrar textos</button>
<p id="textojq" class="alert alert-warning">
	You can offset grid columns in two ways: our responsive .offset- grid classes and our margin utilities. Grid classes are sized to match columns while margins are more useful for quick layouts where the width of the offset is variable.
</p>
<div id="caja" style="border: 1px solid black ; width: 150px; height: 50px">
	You can offset grid 
</div>

<!-- <editor apiKey="ccfv9w13b8g7awmlptoxycluzjfr2t0nj5phx8sn4v9a7j75" [init]="{plugins: 'link'}"></editor> -->


<hr>
Padre:
<h1>{{ titulo }}</h1>
<ul>
	<li>Camiseta rosass</li>
	<li>Gorra negra</li>
</ul>
<hr/>
<p>
Nombre del parque:
<input type= "text" [(ngModel)]="nombreDelParque" (keyup) = "mostrarNombre()" />
</p>

<p>
Resultado:{{nombreDelParque}}
</p>

<div *ngIf="miParque">
	<h4>Datos de mi parque desde el hijo</h4>
	<ol>
		<li>{{miParque.nombre}}</li>
		<li>{{miParque.metros}}</li>
		<li>{{miParque.vegetacion}}</li>
		<li>{{miParque.abierto}}</li>
	</ol>
</div>

<hr>

<p *ngIf="nombreDelParque">
	Hijo:
	<parques 
			[nombre]="nombreDelParque" 
			[metros_cuadrados]="567"
			(pasameLosDatos)="verDatosParque($event)"
			></parques>
</p>